// Tables

.table {
  a {
    color: $pma-link-color;
  }

  .favorite_table_anchor {
    text-decoration: none;
  }
}

@media only screen and (min-width: 768px) {
  .table th.position-sticky {
    top: 70px;
    padding-block: 6px;
  }
}
